{% load static %}
<html>
    <head>
        <title>Wordcloud Lab.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        <div>
            <div class="page-header">
                <nobr class="titletext">
                    &nbsp;&nbsp;Graduation Work!&emsp;
                </nobr>
                <!-- <h1><a href="/">&nbsp;&nbsp;Graduation Work!</a> -->
                <a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;home</a>
                <a class="btn btn-primary" href="/admin/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;admin</a>
                    <!-- &nbsp; 半角スペース分の隙間  &emsp;全角スペース分の隙間 -->
                <a href="{% url 'post_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;New!</a>
                    <!-- <h4><a href="admin/">admin</a></h4> -->
                    <!-- <h3><a href="https://www.pythonanywhere.com/"> Not Constructed </a></h3> -->
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>    
</html>