{% extends 'blog/base.html' %}

{% block content %}
    <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"></span></a>
    <h2>New Content!</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <!-- <img src="{{ form.thumb.url }}" class="img-thumbnail" /> -->
        {{ form.as_p }}
        <!-- <img src="{{ post.thumb.url }}" class="img-thumbnail" /> -->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}